header, footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .categories {
    margin: 20px;
    text-align: center;
  }
  
  .category-buttons button {
    margin: 5px;
    padding: 10px 15px;
  }
  
  .product-list-container {
    margin: 20px;
  }
  